@import url("https://fonts.googleapis.com/css2?family=Allura&family=Amatic+SC&family=Berkshire+Swash&family=Dancing+Script&family=Gloria+Hallelujah&family=Tangerine&display=swap");

/*
  Fonts:
  font-family: 'Allura', cursive;
  font-family: 'Amatic SC', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Tangerine', cursive;
*/
